<!-- Header -->
<header id="header" class="header container">
    <a href="{{ "/" | relURL }}" class="logo">{{ .Site.Params.header.title }}</a>
    {{ if and .Site.Params.header.nav_links .Site.Params.header.has_nav }}
    <nav>
        {{ range $item := $.Site.Params.header.nav_links }}
            {{ $pageUrl := trim $.URL "/" }}
            {{ $itemUrl := trim $item.url "/" }}
            <a class="nav-link{{ if eq $pageUrl $itemUrl }} active{{ end }}" href="{{ if strings.HasPrefix $item.url "#" }}{{ $item.url }}{{ else }}{{ $item.url | relURL }}{{ end }}"{{ if $item.new_window }} target="_blank" rel="noopener"{{ end }}>{{ $item.label }}</a>
        {{ end }}
    </nav>
    {{ end }}
</header>
